.active {
  color: #2098f6;
  text-shadow: 1px 1px 1px rgba(0, 64, 115, 0.30196078);
}
@keyframes logo {
  0% {
    transform: rotateX(0deg);
  }
  30% {
    transform: rotateX(100deg);
  }
  60% {
    transform: rotateX(300deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}
@keyframes section {
  0% {
    opacity: .3;
  }
  30% {
    opacity: .5;
  }
  60% {
    opacity: .7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes content {
  0% {
    margin: 0px;
  }
  100% {
    margin: 88px;
  }
}
@keyframes contentTop51 {
  0% {
    margin: 0px;
  }
  100% {
    margin: 51px;
  }
}
body {
  -webkit-tap-highlight-color: transparent;
}
header {
  position: relative;
  height: 66px;
  padding: 0px 100px;
}
header .logo {
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  animation: logo 1s;
}
header ul {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}
header ul li {
  padding: 0px 20px;
  display: inline-block;
}
header ul li a {
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
header ul li a:hover {
  color: #2098f6;
  text-shadow: 1px 1px 1px rgba(0, 64, 115, 0.30196078);
}
section {
  background: url(../img/background.png) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
section .contentbox {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
}
section .contentbox button {
  padding: 7px 20px;
  background: #1473e4;
  font-weight: bold;
  border: none;
  color: #fff;
  border-radius: 14px;
  outline: none;
  transition: 200ms;
  cursor: pointer;
}
section .contentbox button:active {
  box-shadow: 0 0 12px 2px #4e42f0;
}
section .contentbox button:hover {
  background: #338bf7;
}
section .contentbox .text {
  width: 35%;
  text-align: center;
}
section .contentbox .text h2 {
  font-size: 24px;
  padding-top: 21%;
  padding-bottom: 10px;
}
section .contentbox .text p {
  font-size: 14px;
  line-height: 22px;
  padding-top: 10px;
}
section .contentbox .text .butbox {
  padding: 3%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
section .contentbox .text .butbox buttton {
  font-size: 12px;
  font-weight: normal;
}
section .contentbox .text .butbox a {
  color: #0071ec;
}
section .contentbox .logo {
  width: 70%;
  background: url(../img/logo.gif) no-repeat 90% center;
  background-size: 142%;
}
section .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section .content .content-box {
  letter-spacing: 0px;
  width: 80%;
  background: white;
  margin: 0px auto;
  margin-bottom: 100px;
  margin-top: 51px;
  animation: contentTop51 1s;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2% 1%;
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.2);
  transition: 500ms;
}
section .content .content-box:hover {
  box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.5);
}
section .content .content-box .item {
  width: 31%;
  text-align: left;
  font-size: 14px;
  line-height: 24px;
  border-top: 4px solid rgba(0, 0, 0, 0);
  transition: 500ms;
  color: #333;
  text-decoration: none;
  text-align: center;
}
section .content .content-box .item:hover {
  border-top: 4px solid rgba(48, 68, 255, 0.55);
}
section .content .content-box .item h5 {
  font-weight: inherit;
  font-size: 20px;
  color: #999;
  padding: 10px 0px;
}
section .content .content-box .item .title {
  color: #4D4D4D;
  font-weight: bold;
  padding: 10px 0px;
  text-align: center;
}
section .content .content-box .item p {
  color: #999;
}
section .content .content-box .item .git-img {
  height: 206px;
}
section .content .content-box .item .git-but {
  background: #ffffff;
  color: #1473e4;
  border: 2px solid #1473e4;
  padding: 5px 20px;
  border-radius: 16px;
  font-size: 14px;
  margin-top: 15px;
}
section .content .content-info {
  width: 80%;
  margin: 0px auto;
  padding: 1% 0;
  text-align: center;
  margin-bottom: 3%;
  border-bottom: 2px solid #999;
  padding-bottom: 3%;
}
section .content .content-info h3 {
  padding-top: 4%;
  font-size: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .content .content-info p {
  display: flex;
  font-size: 14px;
  color: #333;
  line-height: 30px;
  padding-top: 2%;
  text-align: center;
}
footer {
  height: 210px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  padding: 0px 100px;
  background: #333333;
  color: white;
  justify-content: space-evenly;
  padding-top: 30px;
}
footer dl dt {
  padding-bottom: 20px;
}
footer dl dd {
  font-size: 14px;
  color: #aaa;
}
